<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
	<meta name="Genmatixs front page">
	<meta name="keywords" content="genmatixs, bioinformatics, genetic, algorithm">
	<meta name="author" content="ZShahid" >
	<meta charset="utf-8" />
	<title>Genmatixs.com</title>
	<link rel="icon" type="image/ico" href="images/logo/favicon.ico">
	<link rel="stylesheet" type="text/css" href="css/button.css">
	<link rel="stylesheet" type="text/css" href="css/img.css">
	<link rel="stylesheet" type="text/css" href="css/div.css">
	<link rel="stylesheet" type="text/css" href="css/twoCol.css">
</head>
<body>
<style>
body {
    
    background-image:url('images/background/background.jpeg');
    background-size: 100%;
}
</style>

	<header>
		<h1><a href="http://www.genmatixs.com">
    		<img src="images/logo/cooltext1642780133.png" alt="genmatixs" class="center"/>
  		</a></h1>
  </header> 
  
  
  <nav>
		<h5><a href="http://www.genmatixs.com/" class="button">Home</a></h5>
	
		<h5><a href="#" class="button">Libraries</a></h5>

		<h5><a href="#" class="button">Links</a></h5>
	
		<h5><a href="#" class="button">Contact</a></h5>
	</nav>
	
	<section>
		<h5>
			<!--img src="images/buttons/website-under-construction-150x150.png" alt="under construction" class="center" />
		</h5>
		</section>
				
</body>
</html>