<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="Genmatixs front page">
	<meta name="keywords" content="genmatixs, bioinformatics, genetic, algorithm">
	<meta name="author" content="ZShahid" >
	<meta charset="utf-8" />
	<title>Genmatixs.com</title>
</head>
<body>
<style>
body {
    background-color: #b0c4de;
}
</style>
	
	<h1 align="center"><a href="http://genmatixs.com">
    <img src="../images/logo/coollogo_com-131211317.gif" />
  </a></h1>
  
 
<style>
.lib_btn {
height: 40px;
width: 119px;  
background-image:url('../images/logo/coollogo_com-291161201.png');
background-repeat:no-repeat;
background-color: rgba(0, 0, 0, 0.0)
}
</style>

<button class="lib_btn"></button>
				
</body>
</html>