#header {
	text-align: center;
}

#menu {
	float: left;
	width: 10%
}

#section {
	height: 350px;
   width: 750px;
	border-style: solid;
   border-width: medium;;
	border-color: black;
	margin-left: 50px;
	float: left;
	width: 85%
}

#GA {
	color: #520000;
}





	
	